.container-img {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    overflow: hidden; 
    position: relative; 
    border: 1px solid #cccccc;
    background-color: #36081f;
  }
  
.photo {
    width: 100%; 
    height: auto; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-47%, -50%); 
}
.name{
    color: #cccccc;
}
 
  
  