.container-img {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    overflow: hidden; 
    position: relative; 
    border: 1px solid #cccccc;
    background-color: #36081f;
}
.card{
    background-color: #36081f;
}
.photo {
    width: 100%; 
    height: auto; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(37%, 50%); 
}
.text-name,.game{
    color: #cccccc;
    text-shadow: 4px -3px 5px rgba(0,0,0,0.6);
}
.container-form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
ul li{
    list-style: none;
}
p{
    color: #cccccc;
    font-size: 1em;
}
.container-buttons{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 25px; 
}
.div1 { grid-area: 1 / 1 / 1 / 4; }
.div2 { grid-area: 1 / 3 / 1 / 6; }
  
  