<img src="../../../assets/signin_balls.png" alt="">
<div class="container-form">
    <h1 class="title">Hello there!</h1>
    <div class="form">
        <h2 class="name">Mi nombre es <span>Juan Sueldo</span></h2>
        <div class="container-img">
          <img class="photo" src="../../../assets/perfil.png" alt="">
        </div>
        
    </div>
    <p class="text">
        Tenes cuenta? <a (click)="getLogin()" class="link">Entrar</a>
      </p>
      <p class="text">
        No tenes cuenta? <a (click)="getRegistrar()" class="link">Registrate</a>
      </p>
</div>
