<div class="container-form">
    <h1 class="title">Hello there!</h1>
    <div class="form">
      <div class="container mt-5">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-5 container-img">
                <img class="photo" src="../../../assets/perfil.png" alt="Imagen de perfil">
              </div>
              <div class="col-md-6">
                <h3 class="card-title text-name">Mi nombre es <span class="name">Juan Sueldo </span></h3>
                <ul>
                  <li>
                    <p>Edad: 34 años</p>
                  </li>
                  <li>
                    <p>Ocupación: Estudiante y Programador</p>
                  </li>
                  <li>
                    <p>Curso: 4ºB</p>
                  </li>
                  <li>
                    <p></p>
                  </li>
                </ul>
                
               
              
              </div>
            </div>
          </div>
        </div>
      </div>
        <h3 class="game">Juego Extra Reglas:</h3>
        <div class="card">
          <ul>
            <li>
              <p>Cada jugador contará con 5 cartas que serán asignadas de manera aleatoria</p>
            </li>
            <li>
              <p>
                Cada jugador cuenta con una barra de vida,
                El jugador que logre debilitar primero al oponente ganará la partida
              </p>
            </li>
            <li>
              <p>Para ello debe utilizar las cartas de su mazo para atacar al contrincante</p>
            </li>
            <li>
              <p>El jugador que logre debilitar primero al oponente ganará la partida</p>
            </li>
            <li>
              <p>Si ambos jugadores se quedan sin cartas, ganará el jugador que tenga mayor puntos de vida</p>
            </li>
          </ul>
        </div>
    </div>
    <div class="container-buttons">
      <div class="div1">
        <a class="my-button" mat-raised-button (click)="getLogin()">Entrar</a>
      </div>
    <div class="div2">
      <a class="my-button" mat-raised-button (click)="getRegistrar()">Registrarse</a>
    </div>
    </div>
</div>
