<div class="container-form">
    <h1 class="title">Hello there!</h1>
    <div class="form">
      <div class="container mt-5">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 container-img">
                <img class="photo" src="../../../assets/perfil.png" alt="Imagen de perfil" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h5 class="card-title text-name">Mi nombre es <span class="name">Juan Sueldo </span>4B</h5>
                <p class="card-text">Edad: 34 años</p>
                <p class="card-text">Correo electrónico: ejemplo@example.com</p>
                <p class="card-text">Ubicación: Ciudad, País</p>
              </div>
            </div>
          </div>
        </div>
      </div>
        <h3 class="game">Juego Extra Reglas:</h3>
        <div class="card">
          <ul>
            <li>
              <p>Cada jugador contara con 5 cartas elegidas de manera aleatoria</p>
            </li>
            <li>
              <p>
                Cada jugador cuenta con una barra de vida,
                El jugador que logre debilitar primero al oponente ganara la partida
              </p>
            </li>
            <li>
              <p>El objetivo de debilitar al contricante mediante de utilizacion de las cartas que tiene en su poder</p>
            </li>
            <li>
              <p>El jugador que logre debilitar primero al oponente ganara la partida</p>
            </li>
            <li>
              <p>Si ambos jugadores se quedan sin cartas ganara el jugador que tenga mayor puntos de vida</p>
            </li>
          </ul>
        </div>
    </div>
    <div class="container-buttons">
      <div class="div1">
        <a class="my-button" mat-raised-button (click)="getLogin()">Entrar</a>
      </div>
    <div class="div2">
      <a class="my-button" mat-raised-button (click)="getRegistrar()">Registrarse</a>
    </div>
    </div>
</div>
