.container-game{
   color: #cce7f5;
   font-weight: 900;
   position: fixed;
}

.title-game {
    color: #7c1ca4;
    text-shadow: 4px 0px 4px rgba(185, 168, 168, 0.733);
}
.card-container {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-top: 40px;
    height: 250px;
}
.card-container-cpu{
    display: flex;
    justify-content: right;
    align-items: flex-start;
    margin-bottom: 40px;
    height: 250px;
}
.card-container app-card, .card-container-cpu app-card {
    margin-left: -30px;
    transition: margin-left 0.5s ease, transform 0.5s ease;
    transform-origin: bottom center;
    position: relative; /* Añade posición relativa */
    z-index: 1;
}

.card-container app-card:hover, .card-container-cpu app-card:hover {
    margin-left: -40px;
    transform: translateY(-40px) rotateX(-10deg);
    z-index: 10; /* Ajusta el nivel de elevación */
}

.card-container app-card:first-child, .card-container-cpu app-card:first-child {
    margin-left: 0;
}
.lost-cards{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    background-color: #42ca59;
    filter: grayscale(5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
}

.player-name{
    color: #428bca;
}
.cpu-name{
    color: #42ca59;
}

.progress {
    position: relative;
    height: 35px;
    border: 1px solid #428bca;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
    text-align: center;
    margin: 20px auto;
    width: 30vw; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

 
.progress-bar {
    height: 100%;
    background: #42ca59;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: width 1.5s ease-in-out;
}
.cpu-bar{
    background-color: #b32b30;
}
.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #cce7f5;
}
.move-center-cpu {
    transform: translateX(-180px) rotate(-35deg);
    top: 39%;
    left: 40%;
    transform-origin: center center; 
    z-index: 99;
  }
/*.card-container-cpu app-card.ng-leave {
    transition: opacity 0.5s, transform 0.5s;
}*/

.disabled {
    pointer-events: none;  /* Deshabilita eventos de puntero (como clics) en elementos deshabilitados */
    opacity: 0.5;  /* Puedes reducir la opacidad para indicar visualmente que está deshabilitado */
  }
@media (min-width:1025px) { 
    .container-player{
        position: absolute;
        left: 0;
        top: 0;
    }
    .container-cpu{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .card-container-cpu{
        display: flex;
        justify-content: right;
        align-items: flex-start;
    } 
}
@media (min-width:1281px) { 
    .container-player{
        position: absolute;
        left: 0;
        top: 0;
    }
    .container-cpu{
        position: absolute;
        bottom: -40px;
        right: 0;
    } 
}