<div class="container-game">
    
    <div class="container-title">
        <div>
            <p>Puntos: {{ points }}</p>
            <p>{{ result }}</p>
            <app-end-game 
            [result]="result" 
            [points]="points"
            [close]="closeGame()"
            [restart]="restartGame()"
            *ngIf="isGameOver"></app-end-game>
        </div>   
    </div>
    <div class="container-players">
        <div id="player" class="container-player">
            <h2 class="player-name">Jugador</h2>
            <div class="progress">
                <div class="progress-bar" id="hp-bar" [ngStyle]="{'width.%': playerOne.hp}">
                    <span class="progress-bar-text" id="hp-number">{{playerOne.hp}}HP</span>
                </div>
            </div>          
        </div>
        <div id="player-cards" class="card-container">
            <app-card  *ngFor="let item of playerOne.cards, let i = index" 
                [type]="item.type"
                [img]="item.img"
                [name]="item.name"
                [detail]="item.detail"
                [damage]="item.damage"
                [class.disabled]="isOnClickInProgress"
                (click)="onClick(i)"
                >
            </app-card>
        </div>
    </div>
        <div id="computer" class="container-cpu">
            <h2 class="cpu-name">CPU</h2>
            <div class="progress">
                <div class="progress-bar cpu-bar" id="hp-bar-cpu" [ngStyle]="{'width.%': playerCpu.hp}">
                    <span class="progress-bar-text" id="hp-number-cpu">{{playerCpu.hp}}HP</span>
                </div>
            </div>
        </div>
        <div id="player-cards" class="card-container-cpu">
            <app-card *ngFor="let item of playerCpu.cards" 
                [type]="item.type"
                [img]="item.img"
                [name]="item.name"
                [detail]="item.detail"
                [damage]="item.damage">
                
            </app-card>
        </div>
    </div>