.container-fluid {
    padding: 20px;
    color: #fff;
  }
  
  .container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #7c1ca4;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 1.3em;
  }
  
  .row.justify-content-center.mt-4 {
    margin-top: 2em;
  }
  
  a.mat-flat-button {
    font-size: 1.5em;
    margin: 0.5em;
  }
  
  a.mat-flat-button:hover {
    background-color: #337ab7;
 
  }
  
  p {
    font-size: 1.2em;
  }
  
  .back {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .row-back {
    width: 30px;
  }
  .gallow{
    height: 200px;
    position: absolute;
    top: 40px;
    left: 180px;
  }
  .head{
    height: 150px;
    position: absolute;
    top: 120px;
    left: 240px;
    z-index: 9;
  }
  .body-up{
    height: 150px;
    position: absolute;
    top: 210px;
    left: 240px;
    z-index: 5;
  }
  .body-down{
    width: 100px;
    position: absolute;
    top: 320px;
    left: 265px;
    z-index: 4;
  }
  .leg-right{
    height: 120px;
    position: absolute;
    top: 350px;
    left: 218.5px;
    
  }
  .leg-left{
    height: 120px;
    position: absolute;
    top: 350px;
    left: 286.5px;
    
  }
  .hand-right{
    height: 80px;
    position: absolute;
    top: 230px;
    left: 203px;
    transform: rotate(45deg);
  }
  .hand-left{
    height: 80px;
    position: absolute;
    top: 230px;
    left: 345px;
    transform: rotate(-45deg);
    
  }
  /* Add any additional styles as needed */
  