.absolute{
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.411);

}
.center{
    height: 40%;
    width: 30%;
}
.container-buttons{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}