<div class="card-container absolute">
    <div class="card center">
        <div class="card-header">
          Final del juego
        </div>
        <div class="card-body">
          <h5 class="card-title">{{result}}</h5>
          <h5 class="card-title">Tu puntaje fue: {{points}}</h5>
          <p class="card-text">¿Que deseas realizar?</p>
          <div class="container-buttons">
              <button class="btn btn-danger" (click)="closeGame()">Ir a al home</button>
              <button class="btn btn-primary" (click)="restartGame()">Voler a jugar</button>
          </div>
        </div>
    </div>
</div>
