<div class="card-container absolute" *ngIf="restart">
    <div class="card center">
        <div class="card-header">
          Final del juego
        </div>
        <div class="card-body">
          <h5 class="card-title">{{result}}</h5>
          <h5 class="card-title">Tu puntaje fue: {{points}}</h5>
          <p class="card-text">¿Que deseas realizar?</p>
          <div class="container-buttons">
              <button class="btn btn-danger" routerLink="/home">Ir a al home</button>
              <a class="btn btn-primary" (click)="closeGame()">Voler a jugar</a>
          </div>
        </div>
    </div>
</div>
