.cardContainer{
  width: 300px;
  height: 500px;
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
}
.card-header{
  background-color: rgb(102, 102, 243);
  color: white;
  font-weight: 700;
}
.card-body{
  padding: 0.5rem;
  background-image: url("../../../assets/background-message.jpg");
}
.card-footer{
  position: absolute;
  bottom: 0rem;
  background-color: white;
  border-radius: 0px 0px 3px 3px;
}
.input-group-append{
  cursor: pointer;
}
.input-group-append:hover{
  opacity: 0.5;
}
.img-send:active{
  transform: scale(0.9);
}
p{
  color: azure;
}
.send{
  display: block;
  float: right;
  background-color: teal;
  color: white;
  min-width: 50.01%;
  border-radius:10px;
  text-align: left;
}
.received{
  display: block;
  float: left;
  background-color: gray;
  color: white;
  min-width: 50.01%;
  border-radius: 10px;
  text-align: left;
}
.container-messages{
  overflow: scroll;
  padding: 0.3rem;
}
.container-messages::--webkit-scrollbar{
  display:none;
}
.chat-icon-container{
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.icon-button{
  width: 40px;
  height: 40px;
}