.cardContainer{
  width: 300px;
  height: 500px;
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
}
.card-header{
  background-color: rgb(102, 102, 243);
  color: white;
  font-weight: 700;
}
.card-body{
  padding: 0.5rem;
  background-image: url("../../../assets/background-message.jpg");
}
.input-group-append{
  cursor: pointer;
}
.input-group-append:hover{
  opacity: 0.5;
}
.img-send:active{
  transform: scale(0.9);
}
p{
  color: azure;
}
.send{
  display: block;
  float: right;
  background-color: teal;
  color: white;
  min-width: 50.01%;
  border-radius:10px;
  text-align: left;
}
.received{
  display: block;
  float: left;
  background-color: gray;
  color: white;
  min-width: 50.01%;
  border-radius: 10px;
  text-align: left;
}