<div *ngIf="userIsLogged && !showChat" class="chat-icon-container" (click)="showChat=true">
  <img class="icon-button" src="../../../assets/chat.png" >
</div>

<div class="card text-center cardContainer" *ngIf="userIsLogged && showChat">
  <div class="card-header">
      CHAT
      <button type="button" class="btn-close" aria-label="Close" (click)="showChat=false"></button>
  </div>
  <div class="card-body">
    <div class="container-messages h-100">
      <div *ngFor="let message of messages" class="p-2 mb-1 msg" [ngClass]="determineMessageClass(message)">
        <p class="user-name">{{message.user}}</p>
        <p class="text">{{message.text}}</p>
        <p class="user-date">{{message.date}}</p>
      </div>
    </div>
  </div>
  <form class="card-footer text-muted input-group" (ngSubmit)="sendMessage()">
    <input type="text" class="form-control" placeholder="Ingresa tu mensaje" [(ngModel)]="message"
    [ngModelOptions]="{standalone:true}">
    <div class="input-group-append" (click)="sendMessage()">
        <span class="input-group-text" id="basic-addon2">
          <img class="img-send" src="../../../assets/send.svg" alt="send message">
        </span>
      </div>
    </form>
</div>