<div *ngIf="userIsLogged && !showChat" class="chat-icon-container" (click)="showChat=true">
  <img class="icon-button" src="../../../assets/chat.jpg" >
</div>

<div class="card text-center cardContainer" *ngIf="userIsLogged && showChat">
  <div class="card-header">
      CHAT
      <div class="close-chat" (click)="showChat=false">X</div>
  </div>
  <div class="card-body">
    <div class="container-messages h-100">
      <p *ngFor="let message of messages" class="p-2"
        [ngClass]="(userIsLogged.uid===message.sender)? 'send':'recived'">
        {{message.text}}
      </p>
    </div>
  </div>
  <form class="card-footer text-muted input-group" (ngSubmit)="sendMessage()">
    <input type="text" class="form-control" placeholder="Ingresa tu mensaje" [(ngModel)]="message"
    [ngModelOptions]="{standalone:true}">
    <div class="input-group-append" (click)="sendMessage()">
        <span class="input-group-text" id="basic-addon2">
          <img class="img-send" src="../../../assets/send.svg" alt="send message">
        </span>
      </div>
    </form>
</div>