
<div *ngIf="currentCard">
  <h2>Mayor o Menor</h2>
 <!-- <h4>Puntaje: {{points}}</h4>-->
  <div class="container-cards">
    <div class="card">
      <img [src]="currentCard.image" alt="{{ currentCard.value }} de {{ currentCard.suit }}" class="card-image"/>
      <p>Carta actual: {{ currentCard.value }} de {{ currentCard.suit }}</p>
    </div>
    <div *ngIf="nextCard" class="card">
      <img [src]="nextCard.image" alt="{{ nextCard.value }} de {{ nextCard.suit }}" class="card-image"/>
      <p>Siguiente carta: {{ nextCard.value }} de {{ nextCard.suit }}</p>
    </div>
  </div>
  <div style="color: white">{{result}}</div>
  <div class="container-buttons">
    <button class="btn btn-danger m-2" (click)="checkGuess(true)">Mayor</button>
    <button class="btn btn-primary m-2" (click)="checkGuess(false)">Menor</button>
  </div>
</div>
<div>
  <a class="back" (click)="saveResults()" data-toggle="tooltip" data-placement="bottom" title="Volver" routerLink='/home' >
      <img src="../../../assets/atras.png" alt="flecha-volver" class="row-back">
  </a>
</div>