
<div class="container-fluid center">
  <div class="container-title">
    <h2 class="title">Mayor o menor</h2>
    <h4>Puntaje: {{points}}</h4>
  </div>
  <div class="container-cards">
    <img [src]="cardImageAfter" class="card-image" alt="">
    <img id="card-image" class="card-image" [src]="cardImage" alt="Card Image">

  </div>
  <div class="container-buttons">
    <button class="btn btn-danger m-2" id="higher-button" (click)="compareCards('higher')">Mayor</button>
    <button class="btn btn-primary m-2" id="lower-button" (click)="compareCards('lower')">Menor</button>
  </div>
</div>
<div>
  <a class="back" (click)="saveResults()" data-toggle="tooltip" data-placement="bottom" title="Volver" routerLink='/home' >
      <img src="../../../assets/atras.png" alt="flecha-volver" class="row-back">
  </a>
</div>
