@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
  --primary-bg-color: #6b59ac;
  --secondary-bg-color: #cf54b2;
  --dark-bg-color: #22151d;
  --light-bg-color: #dfcccb; 
  --light-blue-bg-color: #6ea3b7;
  --blue-bg-color: #2f3776;
  --purple-bg-color: #6e3a64;
  --grey-bg-color: #385d50;
  --violet-bg-color: #482945;
  --red-bg-color: #b32b30;
  --green-bg-color: #36813e;
  --yellow-bg-color: #fbb932;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #36081f, #151b1d);
    min-height: 100vh;
}
.container-form {
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 0;
}
.icon {
    height: 100px;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
mat-form-field{
  width: 40%;
  padding: 10px;
}
.mat-mdc-text-field-wrapper{
  background-color: #151b1d;
  color: #f5f5f5;
  border-radius: 7px;
  padding: 7px;
  border-width: 2px;
}
.mdc-floating-label, .mat-mdc-floating-label {
  color: var(--blue-bg-color) !important;
}
.title {
  color: #ffffff;
}
.label{
  color: #cccccc;
}
.input{
  margin: 15px;
  color: #cccccc !important;
}

mat-error{
  color: var(--red-bg-color);
  font-weight: 500;
}
a.my-button {
  background: linear-gradient(to right, #e44491, #fc8f8a);
  background-color: #e072a8;
  color: #fff !important;
  font-family: Arial;
  font-size: 19px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 10px 69px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 300px; 
}

a.my-button:hover {
  background: linear-gradient(to right, #e387b3, #fc9e9a);
  background-color: #e387b3;
}

a.my-button:active {
  transform: scale(0.95);
}
.text {
  color: #cccccc;
}

.link {
  text-decoration: none;
  color: var(--grey-bg-color);
  font-weight: 700;
  cursor: pointer;
}
/*

*/
/*
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #151b1d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #36081f, #151b1d);
    min-height: 100vh;
}
.container-form{
    position: absolute;
    top: 6rem;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.09);
}
.icon{
    height: 100px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.title{
    color: #ffffff;
}

input { 
    margin: 20px;
    width: 30%;
    font-size:16px;
    border-color:#cccccc;
    border-style:solid;
    background-color:#151b1d;
    color:#f5f5f5;
    border-radius:7px;
    padding:7px;
    border-width:2px;
}
input:focus
{
    outline:none;
} 

a.my-button{
    background: linear-gradient(to right,#e44491 ,#fc8f8a);
    background-color: #e072a8;
    color: #fff;
    font-family: Arial;
    font-size: 19px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 12px 69px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 21%;
}
a.my-button:hover{
    background: linear-gradient(to right,#e387b3 ,#fc9e9a);
    background-color: #e387b3;
}
a.my-button:active{
    transform: scale(0.95);
}
.text{
    color: #cccccc;
}
.link{
    text-decoration: none;
    color: #8b8a8a;
    font-weight:700;
}
*/