<img class="background" src="../../../assets/signin_balls.png" alt="" />
<div class="container-form">
  <img class="icon" src="../../../assets/consola.png" alt="" />
  <h1 class="title">Bienvenido a la sala de juegos</h1>
  <div class="form">
    <mat-form-field appearance="outline" class="focused">
      <mat-label class="label">Ingresa tu email</mat-label>
      <input class="input" matInput [formControl]="form.controls.email" required />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="form.controls.email.invalid">{{ getErrorMessageEmail() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label class="label">Ingresa tu contraseña</mat-label>
      <input class="input" matInput [type]="hide ? 'password' : 'text'" [formControl]="form.controls.password" required/>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="form.controls.password.invalid">{{ getErrorMessagePassword() }}</mat-error>
    </mat-form-field>
  </div>
  <a class="my-button" mat-raised-button (click)="submit()">Entrar</a>
  <div class="container-links">
    <p class="text">
      No tenes cuenta? <a (click)="getRegistrar()" class="link">Registrate</a>
    </p>
    <a (click)="getQuienSoy()" class="link">Quien soy?</a>
  </div>
</div>
