.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-image{
    height: 150px;
    padding-bottom: 20px;
}
.button{
    cursor: pointer;
}
.back{
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.row-back{
    height: 40px;
}