<div  class="card" [ngClass]="{'slide-out-blurred-br': isClicked}" (click)="onClick()">
    <div class="ribbon" 
        [ngClass]="{'green': type === 'Ataque',
        'blue': type === 'Cura',
        'yellow': type === 'Defensa', 
        'white': type === 'Devolución',
        'red': type === 'Roba vida',
        'orange': type === 'Colateral'}">
        <span>{{type}}</span></div>
    <div class="element">
        <img src="{{img}}">
    </div>
    <div class="container-data">
        <p class="card-name">{{name}}</p>
        <p class="detail">{{detail}}</p>
    </div>
    <span class="btn-circle"><p class="damage">{{damage}}</p></span>
</div>