
.card {
    width: 140px;
    height: 220px;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
    background-color: #36081f;
    color: #cccccc;
    transition: all 0.5s ease;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border: 4px solid #fff;
    position: relative;
}

img{
  height: 70px;
  width: auto; /* Permite que el ancho se ajuste automáticamente según la altura */
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  max-height: 100%; /* Asegura que la imagen no supere la altura del contenedor */
  position: absolute;
  top: 10px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
.card-name{
    font-size: 12px;
    font-weight: 700;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}
.detail{
    text-align: center;
    font-size: 8px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    border-radius: 50%;
    border: 2px solid rgba(123, 123, 90, 0.797);
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    position: absolute;
    bottom: -6px;
    right: -5px;
    background-color: #b32b30;
}
.container-data{
  position: absolute;
  bottom: 10px;
  background-color: #0000ff1f;
  width: 140px;
  height: 100px;
  border-radius: 5px 5px 0 0;
  text-align: center;
}
.damage{
  padding-top: 5px;
}
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 12px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.ribbon.red span {
  background: linear-gradient(#FF0000 0%, #CC0000 100%);
}

.ribbon.blue span {
  background: linear-gradient(#0000FF 0%, #0033CC 100%);
}

.ribbon.green span {
  background: linear-gradient(#008000 0%, #006400 100%);
}
.ribbon.white span {
  background: linear-gradient(#393d39 0%, #2f312f 100%);
}
.ribbon.yellow span {
  background: linear-gradient(#dbc711 0%, #e2cd0a 100%);
}
.element{
    position: absolute;
    width: 135.5px;
    height: 100px;
    border-radius: 5px 5px 0 0;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
    conic-gradient(
      from 180deg at 50% 50%,
      rgba(0, 0, 0, 1) 0deg,
      rgba(255, 255, 255, 0.7) 17deg,
      rgba(0, 0, 0, 1) 88deg,
      rgba(255, 255, 255, 0.7) 152deg,
      rgba(0, 0, 0, 1) 225deg,
      rgba(255, 255, 255, 0.7) 289deg,
      rgba(0, 0, 0, 1) 360deg
    ),
    conic-gradient(
      from 180deg at 50% 50%,
      rgba(0, 0, 0, 1) 0deg,
      rgba(255, 255, 255, 1) 30deg,
      rgba(0, 0, 0, 1) 96deg,
      rgba(255, 255, 255, 1) 169deg,
      rgba(0, 0, 0, 1) 229deg,
      rgba(255, 255, 255, 1) 285deg,
      rgba(0, 0, 0, 1) 360deg
    ),
    radial-gradient(
      88% 127% at 13% 13%,
      rgba(248, 110, 251, 1) 8%,
      rgba(115, 66, 255, 1) 35%,
      rgba(66, 232, 255, 1) 63%,
      rgba(66, 255, 107, 1) 100%
    );
  background-blend-mode: screen, difference, normal;
  border: 2px solid rgba(123, 123, 90, 0.797);
  }
  .move-center{
    transform: translateX(180px) rotate(35deg);
    top: 40%;
    left: 43%;
    transform-origin: center center;
    z-index: 99;
}
.move-center {
    position: fixed;
    transition: transform 3s ease-out, filter 3s ease-out;
}
.move-center-player {
    transform: translateX(180px) rotate(35deg);
    top: 40%;
    left: 43%;
    transform-origin: center center; 
    z-index: 99;
}