<img class="background" src="../../../assets/signin_balls.png" alt="" />
<app-spinner [showSpinner]="loading"></app-spinner>
<div class="container-form">
  <img class="icon" src="../../../assets/consola.png" alt="" />
  <h1 class="title">Bienvenido a la sala de juegos</h1>

  <form (keyup.enter)="submit()" [formGroup]="form"  class="form">

    <mat-form-field appearance="outline">
      <mat-label class="label">Ingresa tu nombre</mat-label>
      <input class="input" [(ngModel)]="nombre"  matInput type="text" [formControl]="form.controls.name" required />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="form.controls.name.invalid">{{ getErrorMessageName() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label class="label">Ingresa tu email</mat-label>
      <input class="input" matInput [formControl]="form.controls.email" required />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="form.controls.email.invalid">{{ getErrorMessageEmail() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label class="label">Ingresa tu contraseña</mat-label>
      <input class="input" matInput [type]="hide ? 'password' : 'text'" [formControl]="form.controls.password" required/>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="form.controls.password.invalid">{{ getErrorMessagePassword() }}</mat-error>
    </mat-form-field>

  </form>
  <a class="my-button" mat-raised-button (click)="submit()">Registrarse</a>
  <div class="container-links">
    <p class="text">
      Tenes cuenta? <a (click)="getLogin()" class="link">Entrar</a>
    </p>
    <a (click)="getQuienSoy()" class="link">Quien soy?</a>
  </div>
</div>
